# Variables (also set in wrangler.toml for production)
RADIO4000_URL=https://radio4000.com
CLOUDINARY_URL=https://res.cloudinary.com/radio4000/image/upload

# Secrets (set via `wrangler secret put` for production)
YOUTUBE_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
